# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
build
mapserve.23c20c22
vcpkg_installed
/mapserver-templates.sln
/mapserver-templates.vcxproj.filters
/mapserver-templates.vcxproj.user
/x64/Debug/mapserver-templates.pdb
